* {
    background-color: #1F2225;
    color: #E9F2F2;

    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "Lexend"; /* set your favorite font */
    font-size: 13px;
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

#workspaces button {
    all: initial;
    background-color: transparent;
    color: #586266;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#workspaces button.active {
    color: #E9F2F2;
    font-weight: bold;
}

#workspaces button:hover {
    color: #AEE6F0;
}

#clock {
    color: #E9F2F2;
    margin-left: 8.75px;
}

#cpu,
#memory,
#network,
#pulseaudio {
    min-width: 12px;
    padding: 4px 10px;
    margin: 0 4px;
    color: #E9F2F2;
    border-radius: 3px;
    transition: all 0.2s ease;
}

#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover {
    background-color: #33383C;
}

#pulseaudio.muted {
    color: #586266;
}

#network.disconnected {
    color: #F07E9F;
}

tooltip {
    background: #1F2225;
    border: 1px solid #272C2F;
    border-radius: 4px;
    padding: 2px;
}

tooltip label {
    color: #E9F2F2;
}

.hidden {
    opacity: 0;
}